{% extends 'EphpWsInvokerBundle::layout.html.twig' %}

{% block admin_content %}
<h1>Help\OutField list</h1>

<a href="{{ path('admin_help') }}">
    Torna indietro
</a>

<table class="records_list">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Service_name</th>
            <th>Field</th>
            <th>Present</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                <a href="{{ path('admin_help_output_edit', { 'id': entity.id }) }}">edit</a>
            </td>
            <td>{{ entity.servicename }}</td>
            <td>{{ entity.field }}</td>
            <td>{{ entity.required }}</td>
            <td>{{ entity.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}