{% extends 'EphpWsInvokerBundle::layout.html.twig' %}

{% block admin_content %}
<h1>Help\OutField</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Service_name</th>                <td>{{ entity.servicename }}</td>        </tr>
        <tr>
            <th>Order_field</th>                <td>{{ entity.orderfield }}</td>        </tr>
        <tr>
            <th>Field</th>                <td>{{ entity.field }}</td>        </tr>
        <tr>
            <th>Required</th>                <td>{{ entity.required }}</td>        </tr>
        <tr>
            <th>Description</th>                <td>{{ entity.description }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_help_output') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_help_output_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_help_output_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}